* {
margin: 0;
padding: 0;
}

html {

}

body {
  border: 1px solid black;
}


/*   Navbar */
header {


}
.navbar {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;



}

/* logo */
.logo {
  display: flex;

}

.logo .black {
  font-weight: 600;
}
.logo .grey {
  font-weight: 100;
}

/* navigation */
.nav a {
  padding-left: 16px;
  font-weight: 400;
  font-size: 18px;

}

/* learn something section and banner */
.start {

  background-color: grey;
  display: inline-flex;



}

.start img {
  padding: 32px 24px;
  width:  60%;
}

.start-section {
  margin: auto 0;
  padding-right: 84px;
  font-weight: bolder;
}
.start-section p {
  padding: 24px 0;
}

.start-section button {
  background-color: black;
  color: white;
  width:80%;
  padding: 8px 0;

}

/* blog section */
.blog {
  display: inline-flex;
}

/* left section */

.main-article {
  flex-basis:  60%;
  padding: 32px 24px;
  border-right: 1px solid grey;
}

.main-article img {
  max-width:100%;
  max-height: auto;
  padding: 32px auto;
}
.main-article h1 {
  padding: 32px 0 24px;
}
.main-article .writer {
  padding-top: 32px;
}


/* right section */
.right-section {
  flex-basis:  40%;
  padding: 16px 0;
  max-width: inherit;


}
.articles {
  display: flex;
  padding: 16px;
  align-items: center;



}

.articles img {
  width: 45%;
  max-width: 100%;

  max-height: 100%;
  padding-right: 16px;


}
.txt {

  align-self: center;
  flex-basis:  65%;




}

.articles a {
  color: blue;
}
#orientation {
  border-bottom: 2px solid grey;
}
#guest {
  background-color: grey;
}

/* start learning */
.learning {
  background-color: lightgrey;
}
.learning h1 {
  text-align: center;
  padding: 32px 0;
  font-weight: bolder;
  color:black;
}
.courses {
  padding: 0 72px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.card {
  max-width: 33%;
  background-color: white;
  margin-bottom: 24px;


}

.card img {
  max-width: 100%;
  max-height: auto;

}
.card h4 {
  font-size: 16px;
  padding: 16px 0 8px 16px;
}
.card h5 {
  font-size: 14px;
  font-weight: lighter;
  padding:0 0 8px 16px;
}
.card p {
  font-size: 12px;
  font-weight: 100;
  padding: 0 0 24px 16px;
}

/* Thesis section */

.thesis {
  padding: 32px 0 32px 24px;
  border-bottom: 1px solid grey;
}
.thesis h1 {
  text-align: center;
  padding-bottom: 32px;
}
.thesis-list {
  display: inline-flex;
  justify-content: space-between;
}
.reimagine {
  flex-basis: 60%;
}
.reimagine h4 {
  padding: 24px 0 8px 0;
}


video {
  flex-basis: 35%;
  max-width: 100%;
  max-height: auto;
}

.right {
  flex-basis: 40%;
  padding-left: 24px;

}
.fisma {
  display: flex;
  width: 100%;
  background-color: grey;

}
.now {
  display: flex;
}

.right img {
  max-width: 100%;
  max-height: auto;
  padding: 16px;
  width:  35%;
}
.right .txt h5 {
  font-size: 24px;
  font-weight: bold;
}
.right .txt p {
  font-size: 14px;
  font-weight: lighter;
  padding-top: 8px;
}

footer {
  font-weight: lighter;
  padding: 16px 0 36px 24px;
}
